.idea
frontend/node_modules
frontend/.env
PythonBackend/venv
PythonBackend/.env
PythonBackend/config.json
SpringBootBackend/.mvn
SpringBootBackend/target
SpringBootBackend/src/main/resources/config.json
.vscode
