.idea
frontend/node_modules
frontend/.env
PythonBackend/venv
PythonBackend/.env
PythonBackend/config.json
SpringBootBackend/.mvn
SpringBootBackend/src/main/resources/config.json
SpringBootBackend/src/main/resources/static/*
SpringBootBackend/target/*
.vscode
